body {
    background-color: #fcfcfc;
    padding-top: 80px; /* Ajuste para que el contenido no quede oculto por la barra */
}

.navbar-container {
    max-width: 85%;
    background-color: #f1d4c0;
    border-radius: 10px;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000; /* Para que siempre esté sobre el contenido */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}   

@media (max-width: 600px) {
  .navbar-brand {
    font-size: 18px;
  }
}

.navbar-nav .nav-link {
    font-size: 18px;
    padding: 10px 20px;
}

.main-content {
    background-color: #f1d4c0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    color: #961b21;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 2px;
}

.subtitle {
    color: #b36b71;
}

h3 {
    color: #1c2125;
}

h2 {
    color: #6c757d;
}

.card {
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.card-title {
    color: #343a40;
}

.card-text {
    color: #495057;
}

.card img {
    object-fit: cover;
    height: 270px;
}

strong {
    font-size: 1.1em;
}

.objetivo {
    color: #458fdf;
}

.mision {
    color: #28a745;
}

.vision {
    color: #e9862a;
}

footer {
    background-color: #7e7e7e59;
    color: #1d0f0f;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
/* --- Formulario Modal de acceso bloqueante --- */
#formModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8d7da; /* fondo rosa suave */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* más alto que el navbar */
}

/* Estilo del formulario */
#userForm {
  background: #fce4ec; /* rosado pastel */
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#userForm h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #343a40;
}

#userForm input {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

#userForm button {
  padding: 10px;
  width: 100%;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#userForm button:hover {
  background-color: #c82333;
}
/* Oculta el navbar (menú) al principio */
nav.navbar {
  display: none;
}

/* Muestra el navbar cuando se inicia sesión */
body.acceso-activo nav.navbar {
  display: block;
}
